body{
    font-size: large;
}

p{
    font-size: large;
}

input{
    font-size: large;
}

div.centeredImage{
    justify-content: left;
    display: flex;
}

img{
    padding: 10px;
    border-radius: 20px;
}
input.grey {
    background-color: grey;
    opacity: 0.8;
    pointer-events: none;
}

input.yellow {
    background-color: yellow;
    opacity: 1.0;
    pointer-events: all;
}
input.green {  
    color: green;
    opacity: 0.8;
    pointer-events: none;
    border: none;
}
input.red {  
    color: red;
    opacity: 0.8;
    pointer-events: none;
    border: none;
}
input.small{
    font-size: medium;
}

div.fields{
    display: grid;
    grid-template-columns: max-content;
    grid-gap: 5px;
}

div.field{
    text-align: right;
}

div.field label{
    text-align: right;
}

.loading {
    opacity: 1;
    background-color: yellow;
    pointer-events: none;
    animation: fade 2s infinite linear;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}



