body{
    font-size: large;
}

#options_container{
  grid-template: auto / 200px 200px 200px 200px 200px;
  gap: 10px;
  display: grid;
}

.options{
  border-radius: 10px;
  padding: 5px;
}

.option_set{
  padding-left: 10px;
  border-style: dashed;
  margin: 5px;
}

#button_container{
  margin-top: 10px;
  display: grid;
  grid-template: 50%;
  gap: 10px;
}

input[type=number]{
  max-width: 90%;
}

#lower_grid{
  display: grid;
  grid-template: 200px / 200px 200px;
}

#timer_value, #clock_value{
  text-align: center;
  line-height: 50px;
  font-size: 33px;
}

#hw_options{
  background-color: red;
}

p{
  margin: 0;
}

#cw_options{
  background-color: blue;
}

input[type=button]{
  width: 200px;
}

.color_shift {
  animation: 2s linear 0s infinite alternate color-shift;
}


@keyframes color-shift {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(180deg);
  }

}

input.yellow {
    background-color: yellow;
    opacity: 1.0;
    pointer-events: all;
}
input.grey {
    background-color: grey;
    opacity: 0.8;
    pointer-events: none;
}
input.green {
    background-color: green;
    opacity: 1.0;
    pointer-events: all;
}
input.red {
    background-color: red;
    opacity: 1.0;
    pointer-events: all;
}
div.fields{
    display: grid;
    grid-template-columns: max-content max-content;   
    grid-gap: 5px;
}
div.fields label{
    text-align: right;
}



table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
  }
  th{
    background-color: orange;
  }
  tr:nth-child(even){
    background-color: rgb(241, 193, 102);
  }
  tr:nth-child(odd){
    background-color: rgb(245, 220, 175);
  }
  td{
    text-align: center;
  }

