body{
    font-size: xx-large;
}

input.yellow {
    background-color: yellow;
    opacity: 1.0;
    pointer-events: all;
}
input.grey {
    background-color: grey;
    opacity: 0.8;
    pointer-events: none;
}
input.green {
    background-color: green;
    opacity: 1.0;
    pointer-events: all;
}
input.red {
    background-color: red;
    opacity: 1.0;
    pointer-events: all;
}
div.fields{
    display: grid;
    grid-template-columns: max-content max-content;   
    grid-gap: 5px;
}
div.fields label{
    text-align: right;
}

